<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- Font awesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  
  <!-- css links -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/utilities.css">
  
  <!-- JS link -->
  <script type="module" src="/js/client.js"></script>

  <!-- Google Fonts -->
  <link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">
  <!-- 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  -->
</head>

<body class=<%= current %>>
  <!-- Navigation -->
  <%- include('../partials/nav'); %>
  <!-- Header -->
  <%- include('../partials/header'); %>
  <main>
    <div class="main-text">
      <h1>The Best is Yet to Come...</h1>
      <h2>Verified Locals</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      
      <h2>Personalize Your Private Tour</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      
      <h2>Explore Various Locations</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
    
      <h2>Experience Different Cultures</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
    </div>
  </main>
  
  <%- include('../partials/footer'); %>
</body>
</html>